<style>
            body
            {
                background-color:wheat;
            }
            h1
            {
                color:blue;

            }
            h2
            {
                color:blue;

            }
            h3
            {
                color:blue;

            }


            hr
            {
                
                border-color:black;
                border-style: dotted;
                border-width: 10px 0px 0px 0px;
                width: 100px;

            }



        </style>
